*.*
*
!*/
!/nemu/**
!/nexus-am/**
!/nanos-lite/**
!/navy-apps/**
!/am-kernels/
!/am-kernels/**
!/fceux-am/
!/fceux-am/**
!/third_party/
!/third_party/**
!Makefile
!README.md
!.gitignore
!init.sh
!run_xv6_nemu.sh
!run_xv6_smoke_test.sh
!run_xv6_fs_shell.sh
!run_xv6_fs_cmd.sh
!run_xv6_net_shell.sh
!run_xv6_net_cmd.sh
!run_xv6_net_shell_debug.sh
!run_xv6_net_shell_clean.sh
!XV6-Lab-Base说明.md
/riscv-arch-test-am/
/riscv-tests/
