CONFIG_ISA_riscv=y
# CONFIG_RV64 is not set
# CONFIG_RVE is not set
CONFIG_ENGINE_INTERPRETER=y
CONFIG_MODE_SYSTEM=y
CONFIG_TARGET_NATIVE_ELF=y
CONFIG_CC_GCC=y
CONFIG_CC_O2=y
# CONFIG_TRACE is not set
CONFIG_WATCHPOINT=y
CONFIG_MBASE=0x80000000
CONFIG_MSIZE=0x10000000
CONFIG_PC_RESET_OFFSET=0
CONFIG_PMEM_MALLOC=y
# CONFIG_MEM_RANDOM is not set
CONFIG_DEVICE=y
CONFIG_HAS_SERIAL=y
CONFIG_SERIAL_MMIO=0xa00003f8
CONFIG_HAS_XV6_UART=y
CONFIG_XV6_UART_MMIO=0x10000000
CONFIG_XV6_UART_IRQ=10
CONFIG_HAS_XV6_CLINT=y
CONFIG_XV6_CLINT_MMIO=0x02000000
CONFIG_HAS_XV6_PLIC=y
CONFIG_XV6_PLIC_MMIO=0x0c000000
CONFIG_HAS_XV6_VIRTIO_BLK=y
CONFIG_XV6_VIRTIO_BLK_MMIO=0x10001000
CONFIG_XV6_VIRTIO_BLK_IRQ=1
CONFIG_HAS_TIMER=y
CONFIG_RTC_MMIO=0xa0000048
CONFIG_HAS_KEYBOARD=y
CONFIG_I8042_DATA_MMIO=0xa0000060
CONFIG_HAS_VGA=y
CONFIG_FB_ADDR=0xa1000000
CONFIG_VGA_CTL_MMIO=0xa0000100
CONFIG_VGA_SHOW_SCREEN=y
CONFIG_VGA_SIZE_800x600=y
CONFIG_HAS_AUDIO=y
CONFIG_AUDIO_CTL_MMIO=0xa0000200
CONFIG_SB_ADDR=0xa1200000
CONFIG_SB_SIZE=0x10000
CONFIG_HAS_DISK=y
CONFIG_DISK_CTL_MMIO=0xa0000300
CONFIG_DISK_IMG_PATH=""
CONFIG_RT_CHECK=y
# CONFIG_LOOP_DETECT is not set
