CONFIG_ISA_riscv=y
# CONFIG_RV64 is not set
# CONFIG_RVE is not set
CONFIG_ENGINE_INTERPRETER=y
CONFIG_MODE_SYSTEM=y
CONFIG_TARGET_NATIVE_ELF=y
CONFIG_CC_GCC=y
CONFIG_CC_O2=y
# CONFIG_TRACE is not set
CONFIG_WATCHPOINT=y
CONFIG_MBASE=0x80000000
CONFIG_MSIZE=0x10000000
CONFIG_PC_RESET_OFFSET=0
CONFIG_PMEM_MALLOC=y
# CONFIG_MEM_RANDOM is not set
CONFIG_DEVICE=y
# CONFIG_HAS_SERIAL is not set
CONFIG_HAS_XV6_UART=y
CONFIG_XV6_UART_MMIO=0x10000000
CONFIG_XV6_UART_IRQ=10
CONFIG_HAS_XV6_CLINT=y
CONFIG_XV6_CLINT_MMIO=0x02000000
CONFIG_HAS_XV6_PLIC=y
CONFIG_XV6_PLIC_MMIO=0x0c000000
CONFIG_HAS_XV6_VIRTIO_BLK=y
CONFIG_XV6_VIRTIO_BLK_MMIO=0x10001000
CONFIG_XV6_VIRTIO_BLK_IRQ=1
CONFIG_HAS_XV6_E1000=y
CONFIG_XV6_E1000_MMIO=0x10002000
CONFIG_XV6_E1000_IRQ=11
# CONFIG_HAS_TIMER is not set
# CONFIG_HAS_KEYBOARD is not set
# CONFIG_HAS_VGA is not set
# CONFIG_HAS_AUDIO is not set
# CONFIG_HAS_DISK is not set
CONFIG_RT_CHECK=y
# CONFIG_LOOP_DETECT is not set
